.fulled-container {
  padding: 0 20px;
}

.container {
  width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.col-1 {
  max-width: 8.333333%;
  flex-basis: 8.333333%;
}

.col-2 {
  max-width: 16.6666666%;
  flex-basis: 16.6666666%;
}

.col-3 {
  max-width: 25%;
  flex-basis: 25%;
}

.col-4 {
  max-width: 33.333333%;
  flex-basis: 33.333333%;
}

.col-5 {
  max-width: 41.6666666%;
  flex-basis: 41.6666666%;
}

.col-6 {
  max-width: 50%;
  flex-basis: 50%;
}

.col-7 {
  max-width: 58.333333%;
  flex-basis: 58.333333%;
}

.col-8 {
  max-width: 66.6666666%;
  flex-basis: 66.6666666%;
}

.col-9 {
  max-width: 75%;
  flex-basis: 75%;
}

.col-10 {
  max-width: 83.333333%;
  flex-basis: 83.333333%;
}

.col-11 {
  max-width: 91.6666666%;
  flex-basis: 91.6666666%;
}

.col-12 {
  max-width:100%;
  flex-basis: 100%;
}
ul{
  list-style: none;
}
.card{
 
  border: 3px solid #25264D;
  margin:6px;
}
.card-img-top{
  width: 100%;
  opacity: 0.8;
}
.card-deck {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
  border-bottom: 2px solid #292B56;
}
.card-text{
  padding-bottom: 25px;
  border-bottom: 2px solid #292B56;
}




























